body
  margin: 0
  backgraund-color: #ffffff

header
  max-width: 1600px
  margin: 0 auto  
  


.container
  max-width: 1170px !important
  margin: 0 auto 
  padding: 0 !important


a
  font-family: 'FiraSans', sans-serif
  font-size: 17px
  color: #4a4b4b !important
  font-weight: lighter
  cursor: pointer
  text-decoration: none
  background-color: transparent
  padding-left: 0 !important

a:hover
    color: #a29bbe !important

.product
  p
    padding-bottom: 16px
    font-family: 'FiraSans', sans-serif
    font-size: 16px
    color: #4a4b4b 
    font-weight: lighter
    margin-top: 5px


.price
  a
    padding-bottom: 10px

.price2
  a
    font-family: 'FiraSans', sans-serif
    font-size: 16px
    color: #4a4b4b 
    font-weight: lighter
    padding-top: 5px

.price1
  a
    padding-bottom: 10px  
    margin-top: 13px 
    font-size: 16px 

.mobile
  a
    margin-bottom: 38px 
    margin-top: 11px   



.access
  p
    font-size: 14px
    font-weight: bold
    padding-bottom: 10px
.wraper
  margin-top: 89px
 
.Details
  font-family: 'FiraSans', sans-serif
  font-size: 13px
  color: #4a4b4b 
  font-weight: bold
  margin-bottom: 19px
  margin-top: 38px


.name
  margin-bottom: 40px
  span
    color: red
    padding-left: 7px
.name:hover
  color: #a29bbe

.name1
  font-family: 'FiraSans', sans-serif
  font-size: 17px
  color: #4a4b4b 
  font-weight: lighter

.chek
  margin-top: 85px
  form
    width: 270px
    .custom-select
      background: #fff url(../images/down.png) no-repeat right .75rem center/10px !important
      height: 43px
      font-family: 'FiraSans', sans-serif
      font-size: 16px
      color: black
      padding-top: 2px
      padding-right: 2px 


.chek
  form
    .custom-select:hover  
      background-color: #daecee !important

.chek2
  form
    .custom-select:hover  
      background-color: #cfe5e6 !important


.checkbox
  display: none


.lab
  display: flex


.label
  margin-top: 30px  
  display: flex
  span
    margin-bottom: -7px 
    font-family: 'FiraSans', sans-serif
    font-size: 16px
    color: black
    font-weight: bolder
    

.fake:hover
  background-color: #eecdae

.fake1:hover
  background-color: #eecdae  

.fake2:hover
  background-color: #eecdae   

.fake
  display: inline-block
  width: 26px
  height: 26px
  position: relative
  background-color: #c6c7c7
  

.fake
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: (translate(-50%, -50%))
    display: block
    width: 16px
    height: 16px
    background: url(../images/down2.png) no-repeat center
    opacity: 0
    transition: .2s

.checkbox:checked + .fake::before
  opacity: 1
  

.fake1
  display: inline-block
  width: 26px
  height: 26px
  position: relative
  background-color: #4a4b4b
  

.fake1
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: (translate(-50%, -50%))
    display: block
    width: 16px
    height: 16px
    background: url(../images/down2.png) no-repeat center
    opacity: 0
    transition: .2s

.checkbox:checked + .fake1::before
  opacity: 1  
  
.text  
  padding-left: 21px

.textik
  padding-left: 15px


.label1
  margin-top: 35px  
  display: flex
  span
    margin-bottom: -7px 
    font-family: 'FiraSans', sans-serif
    font-size: 16px
    color: black
    font-weight: bolder
    font-stretch: extra-condensed
  
.label2
  margin-top: 101px
  display: flex
  span
    margin-bottom: -7px 
    font-family: 'FiraSans', sans-serif
    font-size: 18px
    color: black
    font-weight: bolder
    font-stretch: extra-condensed

.label3
  margin-top: 34px
  display: flex
  margin-bottom: 85px
  span
    margin-bottom: -7px 
    font-family: 'FiraSans', sans-serif
    font-size: 18px
    color: black
    font-weight: bolder  
    font-stretch: extra-condensed

.fake2
  display: inline-block
  width: 26px
  height: 26px
  position: relative
  border: 2px solid #9c9c9d
  

.fake2
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: (translate(-50%, -50%))
    display: block
    width: 16px
    height: 16px
    background: url(../images/down2.png) no-repeat center
    opacity: 0
    transition: .2s

.checkbox:checked + .fake2::before
  opacity: 1    
    
.nam
  display: flex
  width: 540px !important
  margin-bottom: -4px
.Tnam
  display: flex
  justify-content: space-between
  font-family: 'FiraSans', sans-serif
  font-size: 17px
  color: #979899
  font-weight: lighter 
  
  .form-control
    width: 270px 
    height: 43px 

.form-control 
  border: 2px solid #9c9c9d !important  

.Tnam

  .form-control:hover
    background-color: #dcf3dc

.Tnam1
  .form-control:hover
    background-color: #c7f5c7    

.Tnam1
  .form-control
    width: 300px 
    height: 43px 
    border-left: none !important
    font-family: 'FiraSans', sans-serif
    font-size: 17px
    color: #979899
    font-weight: lighter
    
      
.email
  display: flex
  height: 65px 
  
  .form-control 
    width: 370px
    height: 45px

  .form-control:hover
    background-color: #e79e9f  

.form-control
  border-radius: 0 !important

.custom-select
  border-radius: 0 !important     
  border: 2px solid #9c9c9d !important

.em1
  display: flex 

   
.chek2
  margin-top: 25px
  form
    width: 270px
    .custom-select
      background: #fff url(../images/down.png) no-repeat right .75rem center/10px !important
      height: 43px
      font-family: 'FiraSans', sans-serif
      font-size: 16px
      color: #111213
      font-weight: lighter
      padding-top: 2px

.btn-secondary1
  width: 169px
  height: 40px 
  font-family: 'FiraSans', sans-serif
  font-size: 16px !important
  font-weight: lighter !important
  color: #2e2f30 !important

.btn-secondary1:focus
  vertical-align: middle
  background-color: #4a4b4b
  color: #ffff !important
  

.btn-secondary:hover
  background-color: #4a4b4b !important 

.btn-secondary
  width: 113px
  height: 40px
  background:  #4a4b4b 
  color: #a8a9aa
  font-family: 'FiraSans', sans-serif
  font-size: 16px !important
  font-weight: lighter
  border-radius: 0 !important

.btn-group
  margin-top: 18px  
  border: 2px solid #9c9c9d 
  border-radius: 0

.ccil
  display: flex
  a
    font-family: 'Myriad Pro', sans-serif
    font-size: 17px
    color: #2968bc !important
    font-weight: bold
    margin-left: 5px

  .nav-link
    padding: 0 5px 0 5px  !important  
  

.label4
  margin-top: 28px
  display: flex
  margin-bottom: 54px
  span
    font-family: 'FiraSans', sans-serif
    font-size: 17px
    color: black
    font-weight: lighter     



.col-md-6
  height: 500px  



.but
  .btn-primary
    width: 135px
    height: 44px
    border-radius: 0
    font-family: 'FiraSans', sans-serif
    font-size: 16px
    color: #ffffff
    font-weight: bold
    margin-bottom: 10px
    background-color: #388ccc !important

.but
  button:hover
    background-color: #2e9c22

.but1
  button:hover
    background-color: #d7eb23  

.ord  
  display: flex  
  justify-content: space-between
  margin-bottom: 17px

.orIM
  margin-top: 85px

.order
  position: absolute
  top: 30px
  left: 32px
  width: 310px
  height: 365px
  h1
    font-family: 'FiraSans', sans-serif
    font-size: 19px
    color: #000000
    font-weight: bolder

.orIM
  position: relative  
 
.prod
  p
    font-family: 'Myriad Pro', sans-serif
    font-size: 15px
    color: #000000
    font-weight: lighter
    margin-bottom: 8px


.prod1
  p
    font-family: 'Myriad Pro', sans-serif
    font-size: 15px
    color: #000000
    font-weight: bolder
    margin-bottom: 8px

.many
  font-family: 'FiraSans', sans-serif
  font-size: 15px
  color: #000000
  font-weight: bolder
  text-align: right
  p
    margin-bottom: 8px 
 

.but1
  .btn-primary
    width: 146px
    height: 44px
    border-radius: 0
    font-family: 'FiraSans', sans-serif
    font-size: 18px
    color: #ffffff
    font-weight: bold
    margin-bottom: 10px 
    margin-left: 163px 
    background-color: #388ccc !important
    

hr
  margin-top: 20px !important
  margin-bottom: 10px  !important 



@media screen and ( max-width: 1220px)
  .name
    margin-bottom: 46px

@media screen and ( max-width: 1200px)  
  .name
    margin-bottom: 43px
  .Details
    margin-bottom: 15px
    margin-top: 15px

  .col-sm-8
    .row
      margin: 0 !important

  .orIM
    img
      margin-right: 15px

@media screen and ( max-width: 1050px) 
  
  .but1 .btn-primary
    margin-left: 80px  
  
@media screen and ( max-width: 991px)  
  .label 
    margin-top: 60px

  .access 
    p
      margin-bottom: 0

  .mobile 
    a 
      padding-bottom: 20px      

  .label 
    margin-top: 41px

  .label1 
    margin-top: 50px

  .label3 
    margin-top: 55px
    margin-bottom: 95px

@media screen and ( max-width: 900px) 
  


  

  .Wr
    display: flex
    justify-content: space-between

 
   