body
  margin: 0
  backgraund-color: #ffffffe8

header, main, footer
  max-width: 1366px
  margin: 0 auto

header
  background: url(../images/IMAGE1.png)

.nStart  
  display: flex
  flex-direction: row

.navS
  display: flex
  justify-content: space-between
  padding-top: 50px
  padding-bottom: 230px

.navigation
  display: flex

.navigation-item
  display: flex  
  align-items: stretch
  padding-left: 30px
  border: 1px solid transparent
  border-top-left-radius: .25rem
  border-top-right-radius: .25rem
  box-sizing: border-box
  cursor: pointer



  

